.datatable-container {
  $corner-radius: 1rem;
  border-top-right-radius: $corner-radius;
  border-top-left-radius: $corner-radius;
  // transition: all 0.5s ease-in-out;

  margin: 10px;
  border: solid black 1px;

  .dt-buttons {
    display: inline-block;
    margin-left: 21px;
  }

  &.hidden {
    // border: none;
    border-radius: $corner-radius;
    border: solid rgba(0, 0, 0, 0) 1px;

    .transition-container {
      height: 0px;
    }

    h1 {
      border-radius: $corner-radius;
    }

    .collapsable .expand-icon svg {
      transform: rotate(0deg);
    }
  }

  .collapsable {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0.15em;

    .title {
      margin-left: 15px;
    }

    .expand-icon {
      $size: 46px;
      height: $size;
      width: $size;
      margin-right: 15px;

      svg {
        transform: rotate(180deg);
      }
    }
  }

  & + .datatable-container {
    margin-top: 2em;
  }

  h1 {
    $bgColor: #0e8c7f;
    margin-top: 0px;
    margin-bottom: 0px;
    // padding-bottom: 0.25em;
    background-color: $bgColor;
    color: white;
    padding-left: 10px;
    border-top-right-radius: $corner-radius;
    border-top-left-radius: $corner-radius;
    font-weight: 400;
    border: solid black 2px;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      background-color: darken($bgColor, 8);

      .expand-icon {
        animation-name: arrow-bounce;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
      }
    }
  }

  .datatable-table {
    padding-top: 1em;
  }

  .transition-container {
    transition: all 0.5s;
    overflow: hidden;
    max-height: fit-content;
  }

  .top,
  .bottom {
    padding: 0 10px;
  }

  .dataTables_wrapper .dataTables_info {
    clear: both;
    float: right;
    /* padding-top: 0.755em; */
  }

  .dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: right;

    input {
      margin-left: 10px;
      width: 20em;
    }
  }

  .dataTables_wrapper .dataTables_paginate {
    margin-bottom: 1em;
  }
}

@keyframes arrow-bounce {
  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}
