.datatable-container {
  $corner-radius: 1rem;
  border-top-right-radius: $corner-radius;
  border-top-left-radius: $corner-radius;
  transition: all 0.5s ease-in-out;

  margin: 10px;
  border: solid black 1px;

  &.hidden {
    // border: none;
    border-radius: $corner-radius;
    border: solid rgba(0, 0, 0, 0) 1px;

    h1 {
      border-radius: $corner-radius;
    }
  }

  & + .datatable-container {
    margin-top: 2em;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0.25em;
    background-color: #0e8c7f;
    color: white;
    padding-left: 10px;
    border-top-right-radius: $corner-radius;
    border-top-left-radius: $corner-radius;
    font-weight: 400;
    border: solid black 2px;
    transition: all 0.5s;
    cursor: pointer;

  }

  .datatable-table {
    padding-top: 1em;
  }

  .transition-container {
    transition: max-height 0.5s;
    overflow: hidden;
    max-height: fit-content;
  }

  .top,
  .bottom {
    padding: 0 10px;
  }

  .dataTables_wrapper .dataTables_info {
    clear: both;
    float: right;
    /* padding-top: 0.755em; */
  }

  .dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: right;

    input {
      margin-left: 10px;
      width: 20em;
    }
  }

  .dataTables_wrapper .dataTables_paginate {
    margin-bottom: 1em;
  }
}
